{% extends "base.html" %}
{% block main %}
      <div class="container-fluid">

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Accueil</a>
          </li>
          <li class="breadcrumb-item active">Zone admin</li>
        </ol>


	<!-- Modal -->
	<div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <form method="POST">
	        <div class="modal-header">
		  <h5 class="modal-title" id="addTransactionModalTitle"><i class="fas fa-plus"></i> Ajouter une transaction</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
	        </div>
	        <div class="modal-body">
		  <div class="form-group">
                    <label for="userId" class="col-form-label"><b>Utilisateur</b></label>
		    <select class="form-control selectpicker" name="userId" id="userId" data-live-search="true" data-container="body">
		      {% for user in users %}
                      <option selected value="{{ user.id }}">{{ user.fname }} {{ user.lname }}</option>
		      {% endfor %}
		    </select>
		  </div>
		  <div class="form-group">
                    <label for="eventId" class="col-form-label"><b>Evènement</b></label>
		    <select class="form-control selectpicker" name="eventId" id="eventId" data-live-search="true" data-container="body">
		      {% for event in events %}
                      <option selected value="{{ event.id }}">{{ event.name }}</option>
		      {% endfor %}
		    </select>
		  </div>
		  <div class="form-group">
                    <label for="sum" class="col-form-label"><b>Montant</b></label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="sumPrepend">€</span>
                      </div>
                      <input type="text" class="form-control" id="sum" name="sum" required pattern="^\d*(\.\d{0,2})?$" placeholder="en euro, sans unité (ex. 13, 1900.5, 27.07)" aria-describedby="sumPrepend">
                    </div>
		  </div>
		  <div class="form-group">
                    <label for="description" class="col-form-label"><b>Description</b></label>
		    <textarea class="form-control" name="description" id="description" placeholder="courte description"></textarea>
                  </div>
                  <div class="row">
                    <div class="col">
                      <fieldset class="form-group">
                        <legend class="col-form-label col"><b>Type</b></legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" id="typeInflow" value="1" name="type" type="inflow">
                            <label class="form-check-label" for="typeInflow">Entrée </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" id="typeOutflow" value="0" name="type" type="outflow">
                            <label class="form-check-label" for="typeOutflow">Sortie </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <div class="col">
                      <fieldset class="form-group">
                        <legend class="col-form-label col"><b>En attente</b></legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" value="1" id="unpaid" name="onhold">
                            <label class="form-check-label" for="unpaid">Oui</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" value="0" id="paid" name="onhold">
                            <label class="form-check-label" for="paid">Non</label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
		<button type="submit" class="btn btn-success">Ajouter</button>
	        </div>
	      </form>
	    </div>
	  </div>
	</div> 
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-tasks"></i>
            Transactions</div>
          <div class="card-body">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addTransactionModal">
              <i class="fas fa-plus"></i> Ajouter une transaction
            </button></br></br>
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Transaction ID</th>
                    <th>User associé</th>
                    <th>Evènement associé</th>
                    <th>Montant</th>
                    <th>Type</th>
                    <th>Statut</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transaction in transactions %}
                  <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.user.fname }} {{ transaction.user.lname }}</td>
                    <td>{{ transaction.event.name }}</td>
                    <td>{{ transaction.sum }}</td>
                    <td><p class="text-{{ 'success' if transaction.type else 'danger' }}">{{ "Entrée" if transaction.type else "Sortie" }}<p></td>
                    <td><p class="text-{{ 'warning' if transaction.onhold else 'success' }}">{{ "En attente" if transaction.onhold else "OK" }}<p></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

      </div>
{% endblock %}
