{% extends "base.html" %}
{% block main %}
      <div class="container-fluid">

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Accueil</a>
          </li>
          <li class="breadcrumb-item active">Zone admin</li>
        </ol>


	<!-- Modal -->
	<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <form method="POST">
	        <div class="modal-header">
		  <h5 class="modal-title" id="addEventModalTitle"><i class="fas fa-plus"></i> Ajouter un évènement</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name" class="col-form-label"><b>Nom</b></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-form-label"><b>Date</b></label>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="date" name="date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-form-label"><b>Description</b></label>
                    <textarea class="form-control" name="description" id="description" placeholder="courte description"></textarea>
                </div>
            </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
		<button type="submit" class="btn btn-success">Ajouter</button>
	        </div>
	      </form>
	    </div>
	  </div>
	</div>

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-tasks"></i>
            Opérations détaillées</div>
          <div class="card-body">

	    <ul class="nav nav-tabs nav-fill">
	      <li class="nav-item">
		<a class="nav-link" href="/admin">Transactions</a>
	      </li>
	      <li class="nav-item">
		<a class="nav-link" href="/admin/users">Utilisateurs</a>
	      </li>
	      <li class="nav-item">
		<a class="nav-link active" href="/admin/events">Evènements</a>
	      </li>
	    </ul>

            <!-- Button trigger modal -->
	      </br><button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addEventModal">
		<i class="fas fa-plus"></i> Ajouter un évènement
	      </button></br></br>
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID Evènement</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  {% for event in events %}
                  <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.description }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

      </div>
{% endblock %}
