{% extends "base.html" %}
{% block main %}
      <div class="container-fluid">

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Accueil</a>
          </li>
          <li class="breadcrumb-item active">Zone admin</li>
        </ol>

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-tasks"></i>
            Opérations détaillées</div>
          <div class="card-body">

	    <ul class="nav nav-tabs nav-fill">
	      <li class="nav-item">
		<a class="nav-link active" href="/admin">Transactions</a>
	      </li>
	      <li class="nav-item">
		<a class="nav-link" href="/admin/users">Utilisateurs</a>
	      </li>
	      <li class="nav-item">
		<a class="nav-link" href="/admin/events">Evènements</a>
	      </li>
	    </ul>


          <!-- Button trigger modal -->
          {% include 'transaction-form.html' %}
	      </br><button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addTransactionModal">

		<i class="fas fa-plus"></i> Ajouter une transaction
	      </button></br></br>
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Transaction ID</th>
                    <th>Utilisateur associé</th>
                    <th>Evènement associé</th>
                    <th>Montant</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Statut</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transaction in transactions %}
                  <tr>
                    <form method="post">
                    <td>{{ transaction.id }}</td>
                    <input type="hidden" name="tid" value="{{ transaction.id }}" />
                    <td>{{ transaction.user.fname }} {{ transaction.user.lname }}</td>
                    <td>{{ transaction.event.name }}</td>
                    <td>{{ transaction.sum }}</td>
                    <td>{{ transaction.description }}</td>
                    <td><p class="text-{{ 'success' if transaction.type else 'danger' }}">{{ "Entrée" if transaction.type else "Sortie" }}<p></td>
                    <td><p class="text-{{ 'warning' if transaction.onhold else 'success' }}">{{ "En attente" if transaction.onhold else "OK" }}<p></td>
                    <td><button type="button" class="btn btn-outline-info"><i class="fa fa-edit"></i></button>
                        <input type="hidden" name="action" value="delete" />
                        <button type="submit" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button></td>
                    </form>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

      </div>
{% endblock %}
