{% extends "base.html" %}
{% block main %}
      <div class="container-fluid">

        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Accueil</a>
          </li>
          <li class="breadcrumb-item active">Zone admin</li>
        </ol>

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-tasks"></i>
            Opérations détaillées</div>
          <div class="card-body">

	    <ul class="nav nav-tabs nav-fill">
	      <li class="nav-item">
		<a class="nav-link" href="/admin">Transactions</a>
	      </li>
	      <li class="nav-item">
		<a class="nav-link" href="/admin/users">Utilisateurs</a>
	      </li>
	      <li class="nav-item">
		<a class="nav-link active" href="/admin/events">Evènements</a>
	      </li>
	    </ul>

          <!-- Button trigger modal -->
          {% include 'event-form.html' %}
	      </br><button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addEventModal">
		<i class="fas fa-plus"></i> Ajouter un évènement
	      </button></br></br>
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID Evènement</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for event in events %}
                  <tr>
                    <form method="post">
                    <td>{{ event.id }}</td>
                    <input type="hidden" name="eid" value="{{ event.id }}" />
                    <td>{{ event.name }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.description }}</td>
                    <td><button type="button" class="btn btn-outline-info"><i class="fa fa-edit"></i></button>
                        <input type="hidden" name="action" value="delete" />
                        <button type="submit" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button></td>
                    </form>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

      </div>
{% endblock %}
