<!-- Logout Modal-->
<div class="modal fade" id="deleteUserModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel"><i class="fas fa-trash"></i> Es-tu sûr de vouloir supprimer cet utilisateur?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        {{ user.fname }} {{ user.lname }}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><b>Email: </b></div>
                            <div class="col">{{ user.email }}</div>
                        </div>
                    </div>
                </div>
                </br>
                <p class="text-muted">Attention: supprimer un utilisateur supprimera &eacute;galement l'int&eacute;gralit&eacute; des transactions qui lui sont associ&eacute;es...</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success">Confirmer</a>
            </div>
        </div>
    </div>
</div>
