{% extends "base.html" %}
{% block main %}

      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Accueil</a>
          </li>
        </ol>

        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
             <div class="card-header">Etat actuel de la trésorerie</div>
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-dollar-sign"></i>
                </div>
                <div class="mr-5">Il y a actuellement {{ total|round(2) }}€ dans la trésorerie</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-header">Etat prévisionnel</div>
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-cash-register"></i>
                </div>
                <div class="mr-5">Une fois que tout sera réglé, la trésorerie sera à {{ preview|round(2) }}€</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-info o-hidden h-100">
              <div class="card-header">Meilleur contributeur</div>
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-clipboard-check"></i>
                </div>
                <div class="mr-5">
                  {% if not best_user.fname %}
                  Aucun contributeur...
                  {% else %}
                  Merci à notre meilleur contributeur {{ best_user.fname }} {{ best_user.lname }}, tu as rapporté un total de {{ best_user.total|round(2) }}€ à HackademINT! Hourra!
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-header">Tableau de la honte</div>
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-angry"></i>
                </div>
                <div class="mr-5">
                  {% if not worst_user.fname %}
                    Tout est en ordre, il n'y a personne à afficher sur le
                    tableau de la honte (dommage...)
                  {% else %}
                    {{ worst_user.fname }} {{ worst_user.lname }} rends
                    l'argent stp, tu dois {{ worst_user.onhold|round(2) }}€ à HackademINT!
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Table des evenements -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-tasks"></i>
            Liste des évènements</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Evènement</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Entrées effectives</th>
                    <th>Sorties effectives</th>
                    <th>Entrées en attente</th>
                    <th>Sorties en attente</th>
                    <th>Total effectif</th>
                    <th>Total en attente</th>
                    <th>Total prévisionnel</th>
                  </tr>
                </thead>
                <tbody>
                  {% for event in events %}
                  <tr>
                    <td><a href='/event/{{ event.id }}'>{{ event.name }}</a></td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.inflow|round(2) }}</td>
                    <td>{{ event.outflow|round(2) }}</td>
                    <td>{{ event.onhold_inflow|round(2) }}</td>
                    <td>{{ event.onhold_outflow|round(2) }}</td>
                    <td>{{ event.total|round(2) }}</td>
                    <td>{{ event.onhold|round(2) }}</td>
                    <td>{{ event.total_preview|round(2) }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

        <!-- Table des users -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-users"></i>
            Liste des membres</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Membre</th>
                    <th>Contributions effectives</th>
                    <th>Dépenses effectives</th>
                    <th>Contributions en attente</th>
                    <th>Dépenses en attente</th>
                    <th>Total effectif</th>
                    <th>Total en attente</th>
                    <th>Total prévisionnel</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <td><a href='/user/{{ user.id }}'>{{ user.fname }} {{ user.lname }}</a></td>
                    <td>{{ user.inflow|round(2) }}</td>
                    <td>{{ user.outflow|round(2) }}</td>
                    <td>{{ user.onhold_inflow|round(2) }}</td>
                    <td>{{ user.onhold_outflow|round(2) }}</td>
                    <td>{{ user.total|round(2)}}</td>
                    <td>{{ user.onhold|round(2) }}</td>
                    <td>{{ user.total_preview|round(2) }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

      </div>
      <!-- /.container-fluid -->
{% endblock %}
