<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trésorerie - Login</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-info">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header"><i class="fa fa-dollar-sign text-success"></i> Trésorerie HackademINT <i class="fa fa-dollar-sign text-success"></i></div>
      <div class="card-body">
        <form method="POST">
          <div class="form-group">
            <div class="form-label-group">
              <input type="user" id="user" name="user" class="form-control" placeholder="Login LDAP" required="required" autofocus="autofocus">
              <label for="user">Login LDAP</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="passwd" name="passwd" class="form-control" placeholder="Mot de passe" required="required">
              <label for="passwd">Mot de passe</label>
            </div>
          </div>
          <input class="btn btn-success btn-lg btn-block box-shadow--8dp" value="Se connecter" type="SUBMIT">
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  
  <!-- Custom -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="/static/js/custom.js"></script>
</body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <script>flash_sweetalert2("{{ message }}", "Informations", "{{ category }}");</script>
    {% endfor %}
  {% endif %}
{% endwith %}
</html>
